.options-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.call-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.microphone,
.camera,
.speaker {
  background-color: #64748b;
  color: var(--white);
  font-size: 20px;
  padding: 10px 10px 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.1s ease-in-out;
}

.microphone:hover,
.camera:hover,
.speaker:hover {
  background-color: #475569;
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.1);
}
.call {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  color: var(--white);
  border-radius: 30px;
  padding: 10px 20px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.call > span {
  font-size: 16px;
}

.duration {
  background-color: #64748b;
  color: var(--white);
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
}

@media screen and (max-width: 400px) {
  .call-options {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .call {
    order: -1;
    width: 100%;
    justify-content: center;
  }
}
